.search-container {
  padding: 20px 0;
  position: fixed;
  z-index: 200;
  margin-left: 0;
  margin-right: 0;
  background: rgb(214, 210, 210);
}

.checked {
  color: orange;
}

.list-item {
  text-align: right;
  height: 120px;
}

.workspot-img {
  height: 100%;
  width: 100%;
}

.img-container {
  height: 100%;
}

.workspot-list {
  /* margin-top: 20px; */
  padding-top: 73px;

}

.list-container:before {
  display: table;
  content: "";
}

.list-container:after {
  display: table;
  content: "";
  clear: both;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  width: 60px;
}