html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  width: 100%;
  height: 100%;
  background-color: grey;
  margin-top: 50px;
}

#map-container {
  height: 95%;
  width: 70%;
  padding-top: 5px;
}

#add-workspot{   
  position: fixed;
  bottom: 20px;
  left: 20px;   
  z-index: 20; 
}

.container {
  height: 100%;
  width: 100%;
  padding: 0;
}

#location-list {
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  z-index: 25; 
  overflow: auto;
  background: rgb(214, 210, 210);
  overflow-x: hidden;
  margin-top: 50px;
}

.close-add-post {
  position: fixed;
  margin: 15px;
}

.close-details-spot {
  position: fixed;
  margin: 15px;
}
iframe {
  width: 100%;
  height: 100%;
}
#post-container {
  display: none;
  padding: 30px;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 30;
}
#spot-details-container {
  display: none;
  padding: 30px;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 45;
}

#infowindow-container {
  text-align: center;
  width: 100%;
  height: 100%;
  display: none;
}

#infowindow-image {
  width: 100% !important;
  height: 100% !important;
}
/* hide the close btn of info window */
.gm-style-iw + div {display: none;}
.gm-style-iw{
  max-height: 250px;
  text-align: center;
}

.gm-style-iw img {
  width: 100%;
  height: 100%;
}

#infowindow-address {
  text-align: center !important;
}

.title {
  font-weight: bold;
  text-align: center;
}

#map #infowindow-container {
  display: inline;
}

.navbar-nav {
  width: 100%;
  text-align: center;
/* li {
    float: none;
    display: inline-block;
  } */
}

.navbar-default .navbar-text {
  width: 100%;
  text-align: center;
}
.header {
  z-index: 40;
  margin: 0;
}